<link rel="stylesheet" href="/css/users.css">
<!-- <script src="/js/comment-toggler.js"></script> -->

<div id="profile-header" class="lead alert alert-info text-center">
    <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" class="rounded-circle img-fluid">
    <h2 class="pt-2"><%= profile_user.name %></h2>
    <p class="font-weight-bold"><%= profile_user.email %></p>
</div>


<div class="container">
    <% if (locals.user.id == profile_user.id) { %>
    <section id="update-form" class="mb-3">
        <h4>Update Your Profile:</h4>
        <form action="/users/update-profile/<%= profile_user.id %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= profile_user.name %>" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" value="<%= profile_user.email %>"
                    required>
            </div>
            <div class="form-group">
                <label>Profile Picture:</label>
                <input type="file" class="form-control-file border" name="avatar">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Update</button>
        </form>
    </section>
    <hr>
    <% } %>
    <section id="user-posts">
        <% for( post of posts ) { %>
        <div class="card mb-2">
            <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
            <div class="card-body">
                <!-- <h4 class="card-title">John Doe</h4> -->
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="card-text"><%= post.content %></p>
                        <span class="badge badge-pill badge-info">Author: <%= profile_user.name %></span>
                    </div>
                    <% if (locals.user && locals.user.id == profile_user.id) { %>
                    <div>
                        <a href="/posts/delete-post/<%= post.id %>" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                    <% } %>
                </div>
                <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
            </div>
            <div class="card-footer">
                <h6>Comments:</h6>
                <!-- add a commnet form -->
                <% if (locals.user) { %>
                <form class="form-inline" action="/comments/create-comment" method="post">
                    <input type="text" class="form-control form-control-sm mb-2 mr-sm-2 flex-fill"
                        placeholder="Add a comment..." name="comment" required>
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <button type="submit" class="btn btn-primary btn-sm mb-2">Submit</button>
                </form>
                <% } %>
                <!-- comment list -->
                <!-- <button class="btn btn-sm btn-outline-info mb-2 cmt-btn-toggler">See Comments</button> -->
                <div class="small">
                    <ul class="list-group list-group-flush" id="post-comments-<%= post._id %>">
                        <% for( comment of post.comments ) { %>
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <p><%= comment.content %></p>
                                <p><b><%= comment.user.name %></b></p>
                            </div>
                            <% if (locals.user && locals.user.id == comment.user.id) { %>
                            <div>
                                <a href="/comments/delete-comment/<%= comment.id %>">
                                    &#10006;
                                </a>
                            </div>
                            <% } %>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <% } %>
    </section>
</div>